@page
@model SandmanUniversity.Ui.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Students";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-page="CreateEdit">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.Students.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.Students.NameSortParm"
                   asp-route-currentFilter="@Model.Students.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Students.Results[0].LastName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.Results[0].FirstName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.Students.DateSortParm"
                   asp-route-currentFilter="@Model.Students.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Students.Results[0].EnrollmentDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a asp-page="./CreateEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Students.Results.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Students.Results.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.Students.CurrentSort"
   asp-route-pageIndex="@(Model.Students.Results.PageIndex - 1)"
   asp-route-currentFilter="@Model.Students.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.Students.CurrentSort"
   asp-route-pageIndex="@(Model.Students.Results.PageIndex + 1)"
   asp-route-currentFilter="@Model.Students.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>